@model DownNotifier.Entities.Models.Account

<div class="col-lg-12">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>@ViewBag.Title</h2>
            @ViewBag.BreadCrumb
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                @*<a href="" class="btn btn-primary">This is action area</a>*@
            </div>
        </div>
    </div>

    <div class="ibox ">
        <div class="ibox-content">
            <form role="form" action="/UserProcess" method="post">
                <div class="form-group col-lg-3">
                    <label>İsim Soyisim</label>
                    @Html.HiddenFor(model => model.Id) 
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-danger" })
                </div>
                <div class="form-group col-lg-3">
                    <label>E-Mail</label> 
                    @Html.TextBoxFor(model => model.MailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MailAddress, "", new { @class = "form-danger" })
                </div>
                <div class="form-group col-lg-3">
                    <label>Şifre</label> 
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type="password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form-danger" })
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" id="btnSubmit" name="btnSubmit" type="submit">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section footer{
    <script>
        $("#btnSubmit").click(function () {
            var EczanemPoses = '';
            $('select[id^="SettingsEczanemPos"]').find(':selected').each(function (e, i) {
                EczanemPoses += $(this).attr("xid") + '-' + $(this).val() + ';';
            });
            console.log(EczanemPoses);
            $("#EczanemPoses").val(EczanemPoses);
        });

    </script>
}